// Custom Data table

.kt-datatable {
  $base-bg: #fff;
  $body_cell_font_color: kt-base-color(label, 3);
  $row-border-color: kt-base-color(shape, 1);
  $resize-bg: $row-border-color;
  $scrollbar_color: darken(kt-base-color(shape, 2), 3%);

  > .kt-datatable__table {
    &.kt-datatable__table--scroll-x {
      overflow-x: auto !important;

      &::-webkit-scrollbar {
        opacity: 0;
        height: 4px;
        left: 0px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        opacity: 1;
        border-radius: 4px;
        height: 4px;
        background: $scrollbar_color;
      }

      &::-webkit-scrollbar-thumb:hover,
      ::-webkit-scrollbar-thumb:focus {
        opacity: 1;
        background: $scrollbar_color;
      }
    }
  }
}
