// Custom Login

.kt-login.kt-login--v3 {
  .kt-login__wrapper {
    .kt-login__container {
      .kt-login__logo {
        margin-bottom: 20px !important;

        .kt-login__logo--media {
          height: 150px;
          width: 150px;
        }
      }
    }
  }
}
