# dependencies
node_modules/

# OS X
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
package-lock.json

# app config
# config/local.json
# config/local-*.json
# config/production.json
# config/production-*.json

config/*
!config/default.json
!config/test.json
globalConfig.json

# logs
logs
test_logs